<% @characters.each do |character| %>
	<p>
		<span><%= character.name %></span> belongs to a <span><%= character.race %></span> race and lives in <span><%= character.realm %></span> realm.
	</p>
<% end %>
